@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
   
  }
 
  :root{
    --bg-color:  #FFE382;
    --second-bg-color: #FFF78A;
    --text-color: #111;
    --second-text-color: #fff;
    --second-color: #333;
    --main-color: #FFC93C;
    --transition: 1.5s ease-in-out;

  }


  /* navbar section */
.navbar{
padding: 0;
    
  
}
  .container-fluid{
    margin: 0;
    padding: 20px 10px;

    background-color: #fff;
    display: flex; 
    align-items: center;
  } 

.dropdown-menu li a:hover{
    background-color: var(--second-bg-color);
}
.d-icon{
    color: var(--main-color);
    padding-right: 10px;
}

.nav-img{
    height: 5rem;

}
.nav-item{
    font-weight: bold;
    margin:1rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

}
.nav-link:hover{
    border-bottom: 2px solid var(--main-color);
    transform-origin: 100% 50%;
     
}

/* icons on nav-items */
.icon{
    color:var(--main-color);
}

/* search */
.search{
    border-radius: 5px ;
   
}
.search:placeholder-shown{
    padding-left: 15px;
    transition: 1s ease;
}
.search:focus{
    box-shadow: 5px 5px 5px 5px var(--bg-color);
  
   border-color: var(--bg-color) ;
}
.search-btn{
    color: var(--second-color);
    border: 6px var(--second-bg-color);
}
.search-btn:hover{
    background-color: var(--bg-color);
    color:var(--text-color);
}

/* 2nd navbar */
.nav-2{
    margin: 0;
   
    

}
 .nav-2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    padding: 20px 0;
    background-color:var(--main-color);
    color: var(--text-color);
    margin: 0;
} 
.nav-2 ul li{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}


.nav-2 a{
    text-decoration: none;
    color: var(--text-color);
  
}
.nav-2 a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--second-bg-color);
    transition: width .3s;
    cursor: pointer;
}
.nav-2 a:hover::after{
    width: 100%;
}
/* hero section */
.hero{
   object-position:center;
   object-fit:contain ;
   overflow: hidden;
    
}
.hero img{
    padding: 0;
    width: 100vw;
    object-fit:cover;
    object-position: cover; 
}
/* download section */
.download-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 5%;
}
.download-section h3{
   text-align: center;
    padding: 60px 30px;
    font-weight:600;
    font-size: 2rem;
}
.download-section h3:nth-child(2){
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 20px 50px;
    border-radius: 5px;
}

.card-holder{
    margin: 20px;
    display: flex;
    gap: 2rem; 
    align-items: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    width: 320px;
    height: 250px;
    flex-grow: 1;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 10px;
    border: none;
}

.card:nth-child(2){
    transition-delay:400ms;
}
.card:nth-child(3){
    transition-delay:600ms;
}
.card a{
    display: flex;
}
.card-text{
  
    text-align: center;
    padding: 30px 20px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
}
.card img:hover{
    cursor: pointer;    
    opacity: 0.5;
}

/* markting section 1*/
.marketing-section {
background: url(images/2021.jpg)   center/cover;
/* height: 50vh; */
position: relative;


}
.marketing-section::before, .marketing-section-2::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
   
}


.marketing-container{
    position: relative;
    display: flex;
    flex-direction: column;
    padding:3rem  0 3rem 6rem;
    margin: 5rem 50% 0 5rem;
    z-index: 100;
}
.marketing-container a, .marketing-container-2 a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    color:var(--second-text-color) ;
    
   
}
.marketing-container a:nth-child(2){
    margin:0 45% 2rem 0;
}
.marketing-container button, .marketing-container-2 button{
    text-align: left;
    font-size:0.9rem ;
    background-color: var(--second-text-color);
    padding: 0.5rem 1.3rem;
    margin:0 auto 0 0 ;
    border-radius: 5px;
    transition: 1s ease;

}
.marketing-container button:hover,.marketing-container-2 button:hover{
    background-color: var(--main-color);
}

/* markting section 2*/
.marketing-section-2{
        background: url(images/earth.jpg) center/cover;
        position: relative;
        
}

.marketing-container-2{
    position: relative;
    display: flex;
    flex-direction: column;
    padding:3rem  0 3rem 6rem;
    margin: 0 50% 0 5rem;
    z-index: 100;
}

.marketing-container-2 a:nth-child(2){
    margin:0 0.7rem 2rem 0;
}

/* services */
.services{
    background-color: #222;
    color: var(--second-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;

}

  
.services-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
    text-align: center;
    row-gap: 2rem;

}
.services-items{
    padding:10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 300px;
    height: 240px;
    border: 1px solid #333;    
}


.services-items a:nth-child(1):hover{
    opacity: 0.5;
}
.services-items a:nth-child(2){
    font-size: 1rem;
    margin-top: 0.5rem;
   text-decoration: none;
   color: var(--second-text-color);
}
.services-items a:nth-child(2):hover{
    color: var(--main-color);
}


/* works section  */
.works{
    background-color: var(--main-color);
    text-align: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.works >h3{
    padding: 2rem 0;
    font-weight: 600;
}
.carousel-inner{
    margin: 0 auto;
}
.carousel-item{ 
     width: 100vw;
    margin: 0;
    object-fit: cover;
    object-position: center;
    position: relative;
    cursor: pointer;

}

.img-container{
    margin: auto;
    position: relative;
    width: fit-content;
    height: fit-content;

}
.carousel-item > img{
    height: 100%;
    object-fit: cover;
    object-position:center ;
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 246, 246, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s ease;

}
.overlay > p{
   color:var(--text-color);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}
.overlay:hover{
    opacity: 1;
}
.work-btn{
    margin-top: 2rem;
    padding: 0.5rem 2.5rem;
    border: none;
    background-color: #ED9F2e;
    color: var(--second-text-color);

    transition: var(--transition);
}

.work-btn:hover{
font-weight: 500;
border-radius: 5px;
}

/* clients section  */
.clients{
    text-align: center;
}
.clients > h3{
    margin-top: 5rem;
    font-size: 2.5rem;
}

.client-container{
margin:5% 10%;
display: flex;
overflow: hidden;

}
.client-item{
    display: flex;
    width: 450px;
    height: 250px;
    margin: 1rem 2rem;
}
.clients > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* contact section  */
.contact{
    color: var(--main-color);
    background-color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:2rem 6%;

}
.quick-links{
    display: flex;
    flex-direction: column;
    margin-right: 5%;  
}
.links{
    display: flex;
    flex-direction: column;
    padding:1rem 5px;
}
.links > a{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--second-text-color);
   
}
.links > a:hover{
    color: var(--main-color);
}

.contact-icons > a{
    font-size: 2rem;
    color: var(--main-color);
    padding-right: 1rem;
    text-decoration: none;
}
.contact-icons > a:hover :active{
opacity: 0.5;
}


.sign-up h3{
    font-size: 2.5rem;
    padding-bottom: 20px;
}


.email, #email {
   
    display: flex;
    flex-grow: 1;
    width: auto;
}

.email input{
    width: 25rem;
    height: 3rem;
    margin: 0;
}
.email input:focus{
    outline-color: var(--main-color);

}
.email input::placeholder{
    padding-left: 10px;
    font-size:0.8rem; 
}

.sign-up-btn{
    background-color: var(--main-color);
    color: var(--second-text-color);
    font-size: 0.9rem;
    padding:0.8rem ;
    width: 6rem;
}

footer{
    background-color: var(--text-color);
    color: var(--second-text-color);
    text-align: left;
    padding: 1% 5% 1% 5% ;
}

/* animation section  */
 .hidden{
    opacity: 0; 
    filter:blur(5px);
     transform: translateX(-100%);
    transition: all 1s;
}

.hide{
    opacity: 0; 
    filter:blur(5px);
     transform:scale(0);
    transition: all 1s;
    display: flex;
    flex-direction: column;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.add{
    opacity: 1;
    filter: blur(0);
    transform: scale(100%);
} 

/* for smaller screens */
@media (max-width:900px){
    .container-fluid{
        text-align: center;
        padding: 0 0 10px 0;
    }
    .nav-item:hover{
        border:none;
    }
    /* form */
    .d-flex{
        margin-bottom: 10px;
    }
    /* 2nd nav */
    .nav-2 ul li{
        font-size: 1rem;
    }

    /* marketing section  */
 .marketing-container, .marketing-container-2{
        margin: 10px;
}
.marketing-container-2 button{
    margin:0 auto 0 0 ; ;
}

/* serives section  */



/* work section   */
.carousel-item{ 
    height: 80vh; 
     width: 100vw;
    margin: auto;
    object-fit: cover;
    object-position: center;
    transition: all .5s ease;

}

/* contact section  */
.contact{
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:2rem 6%;

}
.quick-links{
    margin-bottom: 10%;
}

.sign-up h3{
    text-align: center;
}
form{
    display: flex;
}
#email{
    flex-grow:1 ;
    width: auto;
}


footer{
    text-align: center;
}
}
